{% extends 'base.html.twig' %}

{% block title %}Pedagogie{% endblock %}

{% block body %}
    <h1>{{ cour.titre }}</h1>

    <p>{{ cour.description }}</p>

    <img src="{{ vich_uploader_asset(cour) }}" alt="{{ cour.imageName }}">
    <p>{{ cour.imageName }}</p>

    <p><a href="{{ path('app_pedagogie') }}">Retour</a></p>
{% endblock %}
