<footer class="text-center mt-5 bg-dark">
    <br>
    <div>
        <img src={{asset('images/logos/logo_ctg.png')}} class="image_partenaires" alt="icone acceuil" width="165" height="165">
        <img src={{asset('images/logos/logo_ird.png')}} class="image_partenaires" alt="icone acceuil" width="165" height="165">
        <img src={{asset('images/logos/logo_cnes.png')}} class="image_partenaires" alt="icone acceuil" width="165" height="165">
        <img src={{asset('images/logos/logo_ug.png')}} class="image_partenaires" alt="icone acceuil" width="165" height="165">
        <img src={{asset('images/logos/logo_prefecture.png')}} class="image_partenaires" alt="icone acceuil" width="165" height="165">
    </div>
    <p class="text-muted">
        <small>
            Plan du site &middot;
            Informations pratiques &middot;
            Mentions légales &middot;
            Nous contacter
        </small>
    </p>
</footer>