<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="" href="{{ path('app_intro') }}">
      <img src={{asset('images/logos/logo_seas.jpg')}} class="rounded-4" alt="logo seas" width="68" height="73">
    </a>
    <a class="navbar-brand" href="{{ path('app_accueil') }}">
      <img src={{asset('images/icones/icone_index.png')}} class="rounded" alt="icone acceuil" width="60" height="60">
      Accueil
    </a>
    <a class="navbar-brand" href="{{ path('app_catalogue') }}">
      <img src={{asset('images/icones/icone_catalogue.png')}} class="rounded" alt="icone catalogue" width="60" height="60">
      Catalogue
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>

    {% if app.user %}
      <a class="navbar-brand" href="#">Compte</a>
      <a class="navbar-brand" href="#">Déconnexion</a>
    {% else %}
      <a class="navbar-brand" href="#">Créer un compte</a>
      <a class="navbar-brand" href="{{ path('app_login') }}">Connexion</a>
    {% endif %}

    <a class="navbar-brand" href="#">Catalogue pro</a>
  </div>
</nav>



<nav class="navbar navbar-light" style="background-color: #D9D9D999;">
  <div class="container-fluid">
    <a class="navbar-brand" href=" {{ path('app_presentation_seas') }} ">
      <img src={{asset('images/icones/icone_seas.png')}} class="rounded-5" alt="icone seas" width="50" height="50">
      Présentation SEAS
    </a>
    <a class="navbar-brand" href=" {{ path('app_pedagogie') }} ">
      <img src={{asset('images/icones/icone_pedagogie.png')}} class="rounde-5" alt="icone pedagogie" width="50" height="50">
      Pédagogie
    </a>
    <a class="navbar-brand" href=" {{ path('app_ressources') }} ">
      <img src={{asset('images/icones/icone_ressources.png')}} class="rounded-5" alt="icone ressources" width="50" height="50">
      Ressources
    </a>
  </div>
</nav>